.searchBar {
    // /background-color: $background-color-nav;
    border: 2px solid #2a9d8f;
    border-radius: 10px;
    align-items: end;
    height: 60px;
    

    .searchButton, .input{
        position: relative;
        right: -420px;
        margin-top: 10px;
    }
}

.searchBar .input {
    margin-bottom: 2rem;
    width: 100px;
    height: 30px;
    padding: 0 10px;
    font-size: 18px;
    color: black;
    outline: none;
    border: 1px solid silver;
    border-radius: 2rem;
    max-width: 850px;
    
}
.searchBar .searchButton {
background: #495867;
width: 70px;
height: 2rem;
color: #fff;
font-size: 16px;
padding: auto;
border-radius: 2rem;
//line-height: 23px;
border: none;
}

.searchBar .searchButton:hover{
    background: rgb(9, 67, 13);
    color: white;
}

.searchBar .input:hover{
    background: rgb(9, 67, 13);
    color: white;
}

.input::placeholder{
    font-size: 16px;
}

.input {
    width: 250px;

}

@media screen and (max-width: 500px){
    .searchBar .input {
        width: 65px;
        border-radius: 5px;
        height: 20px;
        left: 60px;       
}
    .searchBar {
        position: relative;
        border-radius: 10px;
        height: 45px;
    }
    .searchBar .searchButton{
        width: 65px;
        font-size: 16px;
        border-radius: 5px;
        height: 19px;
        left: 60px;
        text-align: center;
}
    .searchBar .input:hover{
        background: rgb(9, 67, 13);
        color: white;
}
    .input::placeholder{
        font-size: 14px;
        
        
}
    .searchBar .searchButton:hover{
        background: rgb(9, 67, 13);
        color: white;
    }
}


@media (min-width: 501px) and (max-width: 800px){
    .input {
        width: 8rem;
        left: 120px;       
}
    .searchBar .searchButton{
        font-size: 1rem;
        width: 3rem;
        left: 120px;
}
    
  
}

@media screen and(min-width: 801px) {
    .input {
        left: 215px;       
}
    .searchBar .searchButton{
        left: 215px;
}
  
}

@media screen and (min-width: 850px) {
    .input {
        left: 220px;       
}
    .searchBar .searchButton{
        left: 220px;
}
  
}

@media screen and (min-width: 900px) {
    .input {
        left: 230px;       
}
    .searchBar .searchButton{
        left: 230px;
}
  
}

@media screen and (min-width: 1000px) {
    .input {
        left: 250px;       
}
    .searchBar .searchButton{
        left: 250px;
}
  
}

@media screen and (min-width: 1100px) {
    .input {
        left: 270px;       
}
    .searchBar .searchButton{
        left: 270px;
}
  
}
@media screen and (min-width: 1200px) {
    .input {
        left: 290px;       
}
    .searchBar .searchButton{
        left: 290px;
}
  
}