//variables
$background-color-nav: #2c7f8a;

body {
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/195/253/149/tv-show-rick-and-morty-morty-smith-rick-sanchez-wallpaper-preview.jpg);
    //background-repeat: no-repeat;
    background-size: cover;
    //background-size: contain;

    @media screen and (max-width: 500px){
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBwk5a4Mph395GBU4QEI182xjPjjG20xBL8-IcuwpTt8Wo2hsSKtzB2Kc_k14ppiNUdHY&usqp=CAU);
        //background-size: cover;
    }
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

/**********NAV**********/
.nav{

    .nav-image {
        width: 600px;
        height: 250px;
}

    @media screen and (max-width: 500px){
    .nav-image {
        width: 300px;
        height: 150px;
    }
    }
}

/**********SEARCHBAR**********/
    .searchBar {
        background-color: $background-color-nav;
        border: 2px solid #2a9d8f;
        border-radius: 10px;
        align-items: end;
        height: 60px;

        .button, .input{
            position: relative;
            right: -350px;
            margin-top: 10px;
        }
    }

    .searchBar .button, .input {
        margin-bottom: 2rem;
        width: 65px;
        height: 30px;
        padding: 0 10px;
        font-size: 18px;
        color: black;
        outline: none;
        border: 1px solid silver;
        border-radius: 10px;
        max-width: 850px;
}
    
    .searchBar .button:hover{
        background: rgb(9, 67, 13);
        color: white;
}

    .searchBar .input:hover{
        background: rgb(9, 67, 13);
}

    .input::placeholder{
        font-size: 18px;
}

    .input {
        width: 400px;
    
}
    @media screen and (max-width: 500px){
        .input {
            width: 150px;
            border-radius: 5px;
            height: 20px;
            left: 100px;
           
            
    }
        .searchBar {
            position: relative;
            border-radius: 10px;
            height: 45px;
        }
        .searchBar .button{
            width: 50px;
            height: 20px;
            font-size: 16px;
            border-radius: 5px;
            height: 21px;
            left: 100px;
    }
     
        .searchBar .input:hover{
            background: rgb(9, 67, 13);
            color: white;
    }
        .input::placeholder{
            font-size: 16px;
            
    }
        .searchBar .button:hover{
            background: rgb(9, 67, 13);
        }
    }



/*****CARDS*****/
.cards{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 1rem;
  color: white;
  

  @media screen and (max-width: 500px){
    flex-direction: column;   
}
}

/*****CARD*****/
    .card{
        color: white;
    
    
    // .card-body-btn{
    //    //display: flex;
       
    // }

    .card-body{
        background: black;
        width: 16rem;
        height: 7rem;
        border-radius: 1rem;
        padding-top: 0.5px;
        line-height : 10px;
        margin: auto;
        position: relative;
        top: -20px;
        

        @media screen and (max-width: 500px){
            width: 13rem;
            height: 6rem;
            font-size: .8rem;
        }
    }

    .card-image{
        border-radius: 50%;
        margin-top: 20px;
        width: 15rem;
    }
    .card-title{
        padding-top: 10px;
    }
    .card-close-btn{
        background-color: black;
        border: 0;
        color: red; 
        position: relative;
        top: -125px;
        right: -110px;

        @media screen and (max-width: 500px){
            font-size: .8rem;
            position: relative;
            top: -110px;
            right: -90px;
        }
    }

    @media screen and (max-width: 500px){
        .card-image {
            width: 12rem;
        }
    }
}
