//VARIABLES
$background-color-nav: #2c7f8a;

//backgrounds
$background-black: #000;
$background-white: #fff;
$background-about: rgb(227, 234, 190);

//buttons
$background-color-buttons: #495867;

//font-colors
$white-font: #fff;
$black-font: #000;

//font-size
$size-10px: .625rem;
$size-12px: .75rem;
$size-14px: .875rem;
$size-16px: 1rem;
$size-18px: 1.125rem;
$size-20px: 1.25rem;
$size-22px: 1.375rem;
$size-24px: 1.5rem;
$size-26px: 1.625rem;
$size-28px: 1.75rem;
$size-30px: 1.875rem;
$size-32px: 2rem;
